:root {
	--navbar-height: 62px;

	--font-family-main: 'Open Sans', sans-serif;

	--black-color: #0e0825;
	--white-color: #ffffff;
	--primary-color: #cfaae5;
	--secondary-color: #57aae4;
	--dark-purple: #6f5f79;
	--medium-gray: #878492;
	--light-blue: #abd5f2;
	--light-gray: #dfeffa;
}
