.user {
	display: flex;
	align-items: center;
	column-gap: 7px;

	& > .avatar {
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background-color: var(--secondary-color);
		display: grid;
		place-items: center;
	}

	& > p {
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;
		color: var(--black-color);
	}
}
